@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//font-family: 'Roboto', sans-serif;

@font-face {
   font-family: 'MullerRegular';
   src: url('../../fonts/muller/MullerRegular.svg#MullerRegular') format('svg'),
        url('../../fonts/muller/MullerRegular.ttf') format('truetype'),
        url('../../fonts/muller/MullerRegular.woff') format('woff'),
        url('../../fonts/muller/MullerRegular.eot'),
        url('../../fonts/muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/muller/MullerRegular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
 }
  
body {
   font-family: $roboto;
   font-weight: 500;
   color: #636363;
}

